@import "_consts.scss";

.join {
    background:
            url("../../../img/MoveOn/fun-descr/elipses/attach-paperclip-symbol_icon-icons.com_73094 1.png") center no-repeat,
            $marker-gradient;
}
.find {
    background:
            url("../../../img/MoveOn/fun-descr/elipses/eventcalendarsymbol_79791 1.png") center no-repeat,
            $marker-gradient;
}
.where-to-go {
    background:
            url("../../../img/MoveOn/fun-descr/elipses/1486348532-music-play-pause-control-go-arrow_80458 1.png") center no-repeat,
            $marker-gradient;
}
.create {
    background:
            url("../../../img/MoveOn/fun-descr/elipses/create-new-pencil-button_icon-icons.com_72791 1.png") center no-repeat,
            $marker-gradient;
}
.marks {
    background:
            url("../../../img/MoveOn/fun-descr/elipses/Group.png") center no-repeat,
            $marker-gradient;
}
.chats {
    background:
            url("../../../img/MoveOn/fun-descr/elipses/chats_circle_icon_173264 1.png") center no-repeat,
            $marker-gradient;
}

