.header {
	font-family: 'DM Sans', sans-serif;
	width: 1440px;
	height: 67px;
	display: flex;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}
.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1140px;
	max-width: 1140px;
	min-width: 1140px;
}
.nav-menu {
	display: flex;
	width: 600px;
	justify-content: space-between;
	align-items: center;
}

