.second-section{
    width: 62.43%;
    height: 842px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #1F3E4F;

}
.second-section > h2 {
    margin-top: 31px;
    height: 80px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -2.4px;
    color: #283049;
}
.second-section > p {
    margin-top: 20px;
    width: 76.64%;
    height: 56px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #1F3E4F;
}



