.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
   /* padding: 0 15px;*/
}

@media (max-width: 1200px) {
    .container {
        max-width: 696px;
    }
}

@media (max-width: 700px) {
  .container {
      max-width: none;
      padding: 0 15px;
  }
}
