@import "__mixins.scss";

.header {
  @include flex($direction: column);
  width: 100%;
  font-size: 18px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1070;
}


@media (max-width: 1200px) {
  .header {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .header {
    font-size: 14px;
  }
}