.landing-page {
    .video-section {
        margin-left: 250px;
        .container {
            justify-content: center;
            iframe {
                width: 100%;
                height: 600px;
            }
        }
    }   
}

@media (max-width: 1200px) {
    .landing-page {
        .video-section {
            margin-left: 200px;
            .container {
                iframe {
                    height: 390px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .landing-page {
        .video-section {
            margin-left: 105px;
            .container {
                iframe {
                    height: 280px;
                }
            }
        }
    }
}

@media (max-width: 410px) {
    .landing-page {
        .video-section {
            margin-left: 105px;
            .container {
                iframe {
                    height: 170px;
                }
            }
        }
    }
}